@import "vars";
@import "mixins";

.sg-button-primary--size {
    height: 60px;
    @include mQ($mediumDevice) { height: 70px; }
    @include mQ($largeDevice) { margin-top: 20px; }
}

.sg-button-primary--size__text {
    font-size: 28px;
    @include mQ($mediumDevice) { font-size: 33px }
}

.sg-button-primary-round--fixed {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    @include mQ($mediumDevice) {
        bottom: 25px;
        right: 25px;
    }
    @include mQ($largeDevice) {
        bottom: 35px;
        right: 35px;
    }
}

.sg-button-primary-round--no-border {
    border: 0;
}

.sg-button-primary-round--hover {
    &:hover {
        svg {
            transition: transform .6s ease-in-out;
            transform: rotate(360deg);
        }
    }
}