@import "./mixins";
@import "vars";

html, body, #root {
    @include maxSize;
}

#timer {
    @include maxSize;
    position: absolute;
    background-color: $questionBgColor;
}

.sg-list__element--position, .sg-list--position {
    position: relative;
    z-index: 1;
}

.sg-list__element--pointer {
    cursor: pointer;
}

.sg-list__element--hover {
    transition: padding .2s ease-in-out;
    &:hover { padding-left: 5px; }
}

.sg-text-bit--wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.sg-text-bit--font-size {
    font-size: 36px;
    line-height: 38px;
}
